html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@-ms-viewport {
    width: max-width;
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #2a3134;
    background-color: #fbfcfd;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 600;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

a {
    color: #258df2;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:focus, a:hover {
    color: #0d73d7;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
}

[role="button"] {
    cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

table {
    border-collapse: collapse;
    background-color: transparent;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #636c72;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
    line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
}

input[type="search"] {
    -webkit-appearance: none;
}

output {
    display: inline-block;
}

[hidden] {
    display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #2a3134;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

h4, h5, h6 {
    font-weight: 400;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
    font-size: 80%;
    font-weight: normal;
}

mark,
.mark {
    padding: 0.2em;
    background-color: #fcf8e3;
}

.list-unstyled, .feature-lists {
    padding-left: 0;
    list-style: none;
}

.list-inline, .small-social {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

.blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 0.25rem solid #eceeef;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #636c72;
}

.blockquote-footer::before {
    content: "\2014 \00A0";
}

.blockquote-reverse {
    padding-right: 1rem;
    padding-left: 0;
    text-align: right;
    border-right: 0.25rem solid #eceeef;
    border-left: 0;
}

.blockquote-reverse .blockquote-footer::before {
    content: "";
}

.blockquote-reverse .blockquote-footer::after {
    content: "\00A0 \2014";
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    transition: all 0.2s ease-in-out 0.3s ease;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.btn:active, .btn.active {
    background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.an-circle-icon-btn {
    position: relative;
    width: 35px;
    height: 35px;
    background: rgba(251, 252, 253, 0.7);
    color: #2a3134;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.an-circle-icon-btn.notification {
    background: rgba(253, 186, 44, 0.3);
    color: #fdba2c;
}

.an-circle-icon-btn.notification:hover, .an-circle-icon-btn.notification:focus {
    background: rgba(253, 186, 44, 0.4);
    color: #fdba2c;
    outline: 0;
}

.an-circle-icon-btn.primary {
    background: rgba(37, 141, 242, 0.3);
    color: #258df2;
}

.an-circle-icon-btn.primary:hover, .an-circle-icon-btn.primary:focus {
    background: rgba(37, 141, 242, 0.4);
    color: #258df2;
}

.an-btn-primary {
    background-color: #258df2 !important;
}

.an-btn-primary button {
    background-color: #258df2 !important;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    font-weight: 100;
}

.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #025aa5;
    background-image: none;
    border-color: #01549b;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    color: #292b2c;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #2aabd2;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #419641;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    background-image: none;
    border-color: #eb9316;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    background-image: none;
    border-color: #c12e2a;
}

.btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #0275d8;
    background-color: transparent;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-outline-secondary {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #ccc;
    background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #5bc0de;
    background-color: transparent;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-success {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #5cb85c;
    background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-warning {
    color: #f0ad4e;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #f0ad4e;
    background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-outline-danger {
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #d9534f;
    background-color: transparent;
}

.btn-outline-danger:active, .btn-outline-danger.active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-link {
    font-weight: normal;
    color: #0275d8;
    border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
    background-color: transparent;
}

.btn-link, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}

.btn-link:hover {
    border-color: transparent;
}

.btn-link:focus, .btn-link:hover {
    color: #014c8c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link:disabled {
    color: #636c72;
}

.btn-link:disabled:focus, .btn-link:disabled:hover {
    text-decoration: none;
}

.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.readmin-page-content {
    position: relative;
    width: 100%;
    padding: 30px;
    padding-top: 100px;
    transition: all 0.3s ease;
}

@media (max-width: 520px) {
    .readmin-page-content {
        padding: 15px;
        padding-top: 100px;
    }
}

.readmin-page-content .admin-container {
    margin-top: 3%;
    margin-bottom: 12%;
}

@media screen and (max-width: 1200px) {
    .readmin-page-content .admin-container {
        height: 55vh
    }
}

@media screen and (max-width: 992px) {
    .readmin-page-content .admin-container {
        height: 50vh
    }
}

@media screen and (max-width: 768px) {
    .readmin-page-content .admin-container {
        height: 40vh;
    }
}

@media screen and (max-width: 768px) {
    .readmin-page-content .admin-container .content {
        flex-wrap: wrap;
    }
}

.readmin-page-content .admin-container .content .student img {
    width: 100%;
    height: 65%;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .readmin-page-content .admin-container .content .student img {
        width: 100% !important;
    }
}

.readmin-page-content .admin-container .content .parent img {
    width: 100%;
    height: 65%;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .readmin-page-content .admin-container .content .parent img {
        width: 100% !important;
    }
}

.readmin-page-content .admin-container .content .teacher img {
    width: 100%;
    height: 65%;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .readmin-page-content .admin-container .content .teacher img {
        width: 100% !important;
    }
}

.readmin-page-content.menu-open {
    padding-left: 286px;
}

@media (max-width: 991px) {
    .readmin-page-content.menu-open {
        padding-left: 30px;
    }
}

.readmin-form {
    position: relative;
    width: 100%;
}

@media (max-width: 560px) {
    .readmin-form.inline .inline-btn {
        margin-top: 20px;
    }
}

.readmin-form input {
    width: 100%;
}

.readmin-form label {
    margin: 0 !important;
}

.an-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    padding: 10px 20px;
    z-index: 1300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    height: 65px;
}

@media (max-width: 520px) {
    .an-header {
        z-index: 1400;
    }
}

.an-header .brand {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
}

.an-header .brand img {
    width: 130px;
}

.an-header .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.an-header .header-right > a {
    margin: 0 10px 0 15px;
}

.an-header .header-right button {
    padding: 0 !important;
}

.an-header .header-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.an-header .header-left .brand {
    margin-right: 70px;
}

.alert-message-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
    height: 200px;
}

.alert-message {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 45px;
    top: 30px;
    right: 30px;
    text-align: center;
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.alert-message span {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    font-size: 2rem;
    font-weight: 500;
    color: #2a3134;
}

.home-page-welcome-alert {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -1%;
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.menubtn {
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}

.menubtn i {
    transition: all 0.3s ease;
}

.menubtn:hover i {
    color: #258df2;
}

.material-icons {
    color: #757575;
}

.slide-content {
    position: fixed;
    top: 65px;
    right: -300px;
    width: 300px;
    background: #fff;
    height: calc(100% - 55px);
    padding: 20px;
    overflow: scroll;
    border-top: 2px solid #40c741;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    transition: all 0.3s ease;
}

.slide-content.toggle {
    right: 0;
}

.slide-content h6 {
    padding-bottom: 20px;
}

.notification-single {
    position: relative;
    width: 100%;
    padding-left: 45px;
    padding-bottom: 20px;
}

.notification-single .avatar {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.notification-single .avatar.avatar-icon {
    background: rgba(37, 141, 242, 0.3);
    color: #258df2;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.notification-single .avatar.success {
    background: rgba(64, 199, 65, 0.3);
    color: #40c741;
}

.notification-single .avatar.warning {
    background: rgba(253, 186, 44, 0.3);
    color: #fdba2c;
}

.notification-single .avatar.danger {
    background: rgba(230, 64, 67, 0.3);
    color: #e64043;
}

.notification-single .details {
    color: #63737b;
    font-size: 14px;
    margin-bottom: 8px;
}

.notification-single .details a {
    color: #2a3134;
    padding-right: 5px;
}

.notification-single .details a:hover {
    color: #258df2;
}

.notification-single .time {
    font-size: 12px;
    color: #98a6ac;
    margin: 0;
}

.readmin-sidebar {
    position: relative;
}

.readmin-sidebar .menudivider {
    padding: 15px 0;
}

.readmin-sidebar .menu-drawer > div {
    padding-top: 75px;
}

.readmin-sidebar .menu-drawer.has-bg .nav-menu a, .readmin-sidebar .menu-drawer.has-bg .nav-menu div, .readmin-sidebar .menu-drawer.has-bg .nav-menu svg, .readmin-sidebar .menu-drawer.has-bg .nav-menu i {
    color: #fff !important;
    opacity: .97;
}

.readmin-sidebar .menu-drawer.has-bg .nav-menu i {
    opacity: .7;
}

.childmenu .readmin-sidebar .menu-drawer.has-bg .nav-menu .childmenu .active {
    background: rgba(42, 49, 52, 0.3) !important;
}

.readmin-sidebar .menu-drawer.has-bg .nav-menu .active {
    background: rgba(42, 49, 52, 0.3) !important;
}

.readmin-sidebar .menu-drawer.has-bg .nav-menu .menudivider hr {
    background-color: #fff !important;
    opacity: .3;
}

.readmin-sidebar .an-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    z-index: 14000;
    background: #258df2;
    transition: all 0.3s ease;
}

@media (max-width: 520px) {
    .readmin-sidebar .an-header {
        width: auto;
    }
}

@media (max-width: 520px) {
    .readmin-sidebar .an-header .brand {
        font-size: 1rem;
        margin-right: 30px;
    }
}

.sidebar-initial-color {
    background-color: #1b202a;
}

.sidebar-nav {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
}

.sidebar-nav ul {
    padding-left: 12px;
    list-style: none;
    margin: 0;
}

.sidebar-nav ul li {
    position: relative;
}

.sidebar-nav ul li.divider {
    margin: 15px 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav ul li .menudivider {
    padding: 15px 0;
}

.sidebar-nav ul li.has-child > a:before {
    content: "\f067";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
}

.sidebar-nav ul li.has-child > a.active:before {
    content: "\f068";
}

.sidebar-nav ul .has-child span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.has-child span:hover {
    width: 100%;
    cursor: pointer;
    background-color: gray;
}

.has-child .child-item ul a:hover {
    width: 100%;
    cursor: pointer;
    background-color: gray
}

.sidebar-nav ul .has-child span svg {
    color: white !important;
}

.sidebar-nav ul li a {
    padding: 10px 15px;
    padding-top: 5px;
    color: #fff;
    opacity: .8;
    display: block;
}

.sidebar-nav ul li a .material-icons {
    position: relative;
    top: 6px;
    margin-right: 15px;
    color: #fff;
}

/*.sidebar-nav ul li a:hover {*/
/*background: gray; }*/
.sidebar-nav ul li li a {
    padding: 7px 15px;
    padding-left: 54px;
}

.sidebar-nav ul li li a:before {
    content: "\F105";
    font-family: 'FontAwesome';
    position: absolute;
    top: 6px;
    left: 30px;
}

.sidebar-nav ul li li .child-menu a {
    padding-left: 40px;
}

.level-two > a.active .fa-plus:before {
    content: "\f068";
}

.level-two .child-menu a {
    padding-left: 60px !important;
}

.level-two .child-menu a:before {
    left: 40px;
}

.color-1 {
    color: #1abc9c;
}

.color-2 {
    color: #f39c12;
}

.color-3 {
    color: #3498db;
}

.color-4 {
    color: #c0392b;
}

.color-5 {
    color: #9b59b6;
}

.color-6 {
    color: #2ecc71;
}

.color-7 {
    color: #f1c40f;
}

.color-8 {
    color: #7f8c8d;
}

.iconbox-wrapper {
    position: relative;
    width: 100%;
}

.iconbox-wrapper.alter {
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    margin-bottom: 30px;
}

@media (ma-width: 520px) {
    .iconbox-wrapper.alter {
        padding: 15px;
    }
}

.iconbox-wrapper.alter .col-md-3:last-child .iconbox-single {
    border-right: 0;
}

.iconbox-wrapper.alter .iconbox-single {
    box-shadow: none;
    border-right: 1px solid #eaeff5;
    margin: 0;
    padding-left: 15px;
}

@media (max-width: 768px) {
    .iconbox-wrapper.alter .iconbox-single {
        border-right: 0;
    }
}

.iconbox-wrapper.alter .iconbox-single .circle-icon-alter {
    border: 1px solid #eaeff5;
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbox-single {
    position: relative;
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (ma-width: 520px) {
    .iconbox-single {
        padding: 10px;
    }
}

.iconbox-single .circle-icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbox-single .circle-icon .material-icons {
    color: #fff;
}

.iconbox-single .box-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbox-single h5 {
    margin: 0;
}

.iconbox-single p {
    margin: 0;
    opacity: .6;
}

.readmin-panel {
    position: relative;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02)
}

.readmin-panel.remove-margin {
    width: 50%;
}

.readmin-panel.remove-margin .panel-body {
    padding: 0;
}

.readmin-panel.remove-margin .panel-body {
    min-height: auto;
}

.readmin-panel.righticonmenu .panel-heading {
    padding: 5px 30px;
    padding-right: 15px;
}

.readmin-panel.body-text-center .panel-body {
    text-align: center;
}

.readmin-panel .panel-heading {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eaeff5;
    padding: 17px 30px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.readmin-panel .panel-heading h5 {
    margin: 0;
}

.readmin-panel .panel-body {
    padding: 40px 80px;
    width: 100%;
    display: inline-block;
    min-height: 70vh;
}

.readmin-panel .panel-body .column-5 div:nth-child(2) {
    width: 50px !important;
}

.readmin-panel .panel-body .row .col-md-12 .col-md-6 {
    max-width: 100% !important;
}

.readmin-panel .panel-body .column-4 .title > div:nth-child(2) > div > div > div {
    margin-left: -20px !important;
}

.secondary-appbar {
    background: #40c741 !important;
}

.table thead th {
    border-top: 0;
}

.product-table tbody tr td {
    vertical-align: middle;
}

.panel-body .recharts-wrapper {
    width: 100% !important;
}

.panel-body .recharts-wrapper .recharts-surface {
    width: 100%;
}

.panel-body .recharts-wrapper .recharts-legend-wrapper .recharts-surface {
    width: auto;
}

.panel-body .recharts-responsive-container {
    height: 300px !important;
}

.panel-body .form-container div hr:nth-child(1) {
    border-bottom: 3px solid rgb(224, 224, 224) !important;
}

.panel-body .form-container div hr:nth-child(2) {
    border-bottom-width: 3px !important;
} 

.panel-body .form-container div hr:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.add-student-btn {
    display: flex;
    justify-content: flex-end;
}

.grid-example {
    position: relative;
    padding: 30px;
}

.grid-example .row {
    margin-bottom: 15px;
}

.grid-example .row > .col, .grid-example .row > [class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.product-table-img {
    max-width: 50px;
    max-height: 50px;
}

.readmin-products {
    position: relative;
    width: 100%;
}

.product-single {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    margin-bottom: 30px;
}

.product-single img {
    height: 240px;
    margin: 0 auto;
}

.product-single .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.product-single h5 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.product-single .price {
    margin: 0;
    color: #258df2;
    padding-bottom: 10px;
}

.table-responsive table {
    min-width: 500px;
}

.review-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.review-item.totals {
    background: #f4f7fa;
    padding: 30px;
}

.review-item.totals ul {
    margin-bottom: 0;
}

.review-item h6 {
    text-transform: uppercase;
    padding-bottom: 15px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

.review-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    position: relative;
    margin-bottom: 45px;
}

.review-item ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-item ul li span {
    opacity: .7;
    padding-right: 30px;
}

.review-item ul li strong {
    font-weight: normal;
}

.re-page-banner {
    position: relative;
    height: 250px;
    margin: -30px;
    margin-top: -35px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.re-page-banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    transition: all 0.3s ease;
}

.re-page-banner h1 {
    position: relative;
    z-index: 20;
    color: #fff;
    margin: 0;
    font-size: 3.25rem;
    font-weight: 400;
}

.about-box-single {
    position: relative;
    margin-bottom: 30px;
}

.about-box-single p {
    opacity: .8;
}

.inner-box-title {
    position: relative;
    padding: 0 0 15px;
    border-bottom: 2px solid #258df2;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 0;
}

.inner-box-title.full {
    border-bottom: 0;
}

.an-team-single {
    position: relative;
    width: 100%;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.an-team-single:hover {
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.an-team-single:hover .image-container .overlay {
    opacity: 1;
    visibility: visible;
}

.an-team-single.light-bg .user-details {
    background: #fff;
}

.an-team-single.light-bg .user-details h4 a, .an-team-single.light-bg .user-details p {
    color: #2a3134;
}

.an-team-single .image-container {
    position: relative;
}

.an-team-single .image-container .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.an-team-single .image-container .overlay .small-social li a i {
    font-size: 1.75rem;
}

.an-team-single .image-container .overlay .small-social li a:hover {
    color: #258df2;
}

.an-team-single img {
    width: 100%;
    display: block;
}

.an-team-single .user-details {
    padding: 15px;
    background: #258df2;
}

.an-team-single .user-details h4 {
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.an-team-single .user-details h4 a {
    color: #fff;
    display: block;
}

.an-team-single .user-details p {
    margin: 0;
    color: #2a3134;
    opacity: .7;
    font-size: 1rem;
}

.an-team-single .user-details .small-social {
    padding-top: 15px;
}

.small-social {
    margin: 0;
}

.small-social li {
    display: inline-block;
    padding: 7px;
}

.small-social li a {
    color: #fff;
}

.an-services {
    position: relative;
}

.an-services.center-align .an-service-single {
    text-align: center;
}

.an-services.center-align .an-service-single i {
    margin: 0 auto 30px;
}

.an-service-single {
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.an-service-single:hover i {
    color: #258df2;
    border-color: #258df2;
}

.an-service-single i {
    color: #258df2;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.an-service-single h4 {
    padding-bottom: 15px;
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.5;
}

.an-service-single p {
    color: #63737b;
    margin: 0;
    font-weight: 400;
}

.an-address-single {
    position: relative;
    width: 100%;
}

.an-address-single p {
    padding-left: 30px;
    position: relative;
}

.an-address-single i {
    position: absolute;
    left: 0;
    top: 4px;
    color: #258df2;
}

.contact-form > div {
    margin-bottom: 20px;
}

.blog-single {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    margin-bottom: 30px;
}

.blog-single img {
    width: 100%;
}

.blog-single .details {
    padding: 20px;
}

.blog-single .details p {
    margin: 0;
    opacity: .6;
    color: #2a3134;
}

.an-pricing {
    position: relative;
    width: 100%;
    padding: 45px 0 15px;
}

.an-pricing-table-single {
    position: relative;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    transition: all 0.3s ease;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
}

.an-pricing-table-single .price-header {
    position: relative;
    text-align: center;
}

.an-pricing-table-single .price-header .plan-name {
    margin-top: 0;
}

.an-pricing-table-single .price-header .plan-price {
    color: #258df2;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.an-pricing-table-single .price-header .plan-price span {
    font-size: 1rem;
    position: relative;
    top: -13px;
    padding-right: 5px;
    color: #258df2;
}

.an-pricing-table-single .price-header .plan-price small {
    font-size: 1rem;
    color: #98a6ac;
    display: block;
}

.an-pricing-table-single .price-header p {
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 10px;
}

.an-pricing-table-single .helper-text {
    position: relative;
    padding: 25px 0 0;
    opacity: .7;
}

.feature-lists {
    padding: 15px 0;
    text-align: center;
    margin: 0;
}

.feature-lists li {
    padding: 7px 0;
    color: #4c595e;
    border-bottom: 1px solid #eaeff5;
    font-size: -1rem;
}

.price-footer {
    padding: 20px;
    position: relative;
}

.login-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-fields {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 45px;
    top: 30px;
    right: 30px;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
}

.login-fields h3 a {
    font-size: 13px;
    font-weight: 400;
    padding-left: 30px;
    color: #2a3134;
    opacity: .7;
}

.login-fields h3 a:hover {
    color: #258df2;
}

.login-fields h3 i {
    font-size: 5rem;
}

.login-fields h3.title-404 {
    font-size: 7.5rem;
}

.readmin-footer {
    position: relative;
    text-align: center;
    padding: 30px 0;
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .readmin-footer {
        padding: 150px 0;
    }
}

.readmin-footer p {
    opacity: .7;
}

.readmin-style-switcher {
    position: fixed;
    right: -350px;
    top: 0;
    background: #fff;
    height: 100%;
    width: 350px;
    -webkit-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    -moz-box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    box-shadow: 0 6px 25px 0 rgba(38, 50, 56, 0.2);
    z-index: 99999;
    padding: 30px;
    transition: all 0.3s ease;
}

.readmin-style-switcher.toggle {
    right: 0;
}

.readmin-style-switcher .clear-btn {
    position: absolute !important;
    right: 0;
    top: 0;
}

.readmin-style-switcher p {
    opacity: .6;
    margin-bottom: 15px;
}

.readmin-style-switcher h6 {
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
}

.readmin-style-switcher .single-radio {
    width: 50%;
    float: left;
}

.readmin-style-switcher .radio-group {
    position: relative;
    display: inline-block;
}

.readmin-style-switcher .radio-group > div {
    width: 40px !important;
    float: left;
    margin-bottom: 10px;
}

.readmin-style-switcher .style-toggle {
    position: absolute;
    top: 150px;
    left: -50px;
    width: 50px;
    height: 50px;
    background: #258df2;
    border-radius: 3px 0 0 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readmin-style-switcher .style-toggle i {
    color: #fff;
}

.readmin-style-switcher .style-toggle:hover {
    background: #0e80ef;
}

.readmin-style-switcher .overflow-content {
    overflow: auto;
    width: 100%;
    height: 100%;
}

/* .readmin-panel .panel-body .column-2 {
    padding-bottom: 3%;
} */

.readmin-panel .panel-body .column-3 {
    padding-bottom: 3%;
}

.gender-select {
    width: 35%;
}

.gender-select > div {
    width: 100%;
}

.gender-select div div div div {
    margin-right: 0 !important;
}

.grade-select {
    width: 20%;
}

.date-picker {
}

/* Standard syntax */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
