
.form-panel {
    position: relative;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02)
}

.form-panel.remove-margin {
    width: 50%;
}

.form-panel.remove-margin .form-body {
    padding: 0;
}

.form-panel.remove-margin .form-body {
    min-height: auto;
}

.form-panel.righticonmenu .form-heading {
    padding: 5px 30px;
    padding-right: 15px;
}

.form-panel.body-text-center .form-body {
    text-align: center;
}

.form-panel .form-heading {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eaeff5;
    padding: 17px 30px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-panel .form-heading h5 {
    margin: 0;
}

.form-panel .form-body {
    padding: 50px 50px;
    width: 100%;
    display: inline-block;
    min-height: 50vh;
}

.form-panel .form-body .column-5 div:nth-child(2) {
    width: 50px !important;
}

.form-panel .form-body .row .col-md-12 .col-md-6 {
    max-width: 100% !important;
}

.form-panel .form-body .column-4 .title > div:nth-child(2) > div > div > div {
    margin-left: 20px !important;
}

.form-body .recharts-wrapper {
    width: 100% !important;
}

.form-body .recharts-wrapper .recharts-surface {
    width: 100%;
}

.form-body .recharts-wrapper .recharts-legend-wrapper .recharts-surface {
    width: auto;
}

.form-body .recharts-responsive-container {
    height: 300px !important;
}

.form-body .form-container div hr:nth-child(1) {
    border-bottom: 3px solid rgb(224, 224, 224) !important;
}

.form-body .form-container div hr:nth-child(2) {
    border-bottom-width: 3px !important;
}

.form-body .form-container div hr:focus {
    outline: -webkit-focus-ring-color auto 5px;
}



.form-body .parent img {
    width: 80%;
    height: 20%;
    border-radius: 30%;

    box-shadow: 2px 2px 20px 0px rgba(0,0,200,0.75);
}

.form-body .parent-clicked img {
    width: 80%;
    height: 20%;
    border-radius: 30%;
    border: 2px solid blue;
}

@media screen and (max-width: 768px) {
    .form-body .parent img {
        width: 100% !important;
    }
}
.form-body .student img {
    width: 80%;
    height: 20%;
    border-radius: 30%;
    box-shadow: 2px 2px 20px 0px rgba(150,0,0,0.75);
}

.form-body .student-clicked img {
    width: 80%;
    height: 20%;
    border-radius: 30%;
    border: 2px solid blue;
}

@media screen and (max-width: 768px) {
    .form-body .student img {
        width: 100% !important;

    }
}



.form-body .teacher img {
    width: 80%;
    height: 20%;
    border-radius: 30%;
    box-shadow: 2px 2px 20px 0px rgba(150, 0, 0, 0.75);
}

.form-body .teacher-clicked img {
    width: 80%;
    height: 20%;
    border-radius: 30%;
    border: 2px solid blue;
}



@media screen and (max-width: 768px) {
    .form-body .teacher img {
        width: 100% !important;
    }
}

.form-body .teacher img:hover{
    border-color: #c12e2a;
    border-radius:40%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.form-body .student img:hover{
    border-color: #c12e2a;
    border-radius:40%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.form-body .parent img:hover{
     border-color: #c12e2a;
     border-radius:40%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }

.form-footer {
    position: relative;
    text-align: center;
    margin:15%;
    padding:10px;
}
@media screen and (max-width: 768px) {
    .form-footer {
        padding: 150px 0;
    }
}

.form-footer .form-button{
    margin-top:20px;
    margin-left:10px;
    margin-right:20px;
}

.form-footer p {
    opacity: .7;
}


